%h3 On-going Works

%div.works
  %ul.works
    %li
      = link_to 'https://github.com/meinside/rails-on-raspberrypi' do
        Rails application for monitoring Raspberry Pi
    %li
      = link_to 'https://github.com/meinside/rpi-configs' do
        Config/dot files for Raspberry Pi

