/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

$navbar-height: 30px;

@import "bootstrap-sprockets";
@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
}
body {
  /* margin bottom by footer height */
  margin-bottom: 30px;
}

/* Set the fixed height of the footer here */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* fixed height of the footer */
  height: 30px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
body > .container {
  padding: 30px 15px 15px;
}
.container .credit {
  margin: 5px 0;
}

.footer > .container {
  padding-left: 10px;
  padding-right: 10px;
  z-index: 1;
}

code {
  font-size: 80%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: verdana, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-size: 12px;
}

a:link {
  color: #FF0000;
  text-decoration: none;
}
a:visited {
  color: #A0A0A0;
  text-decoration: none;
}
a:hover {
  color: #0000FF;
  text-decoration: none;
}

