%div.footer
  %nav{class: 'navbar navbar-default navbar-fixed-bottom'}
    %div{class: 'navbar-inner navbar-content-center'}
      %div.container
        %p.text-muted.credit
          Powered by: 
          = link_to 'http://raspberrypi.org', target: '_blank' do
            = image_tag '/favicon.ico', width: '16px'
          %strong
            Raspberry Pi
          \/
          %strong
            Rails 
          = Rails.version
          \/
          %strong
            Ruby 
          = RUBY_VERSION
