%div#footer
  %div.container
    %p.text-muted.credit
      Powered by: 
      = link_to "http://raspberrypi.org", target: "_blank" do
        = image_tag "http://www.raspberrypi.org/wp-content/uploads/2012/03/Raspi_Colour_R.png", width: "16px"
      Raspberry Pi
      \/ Rails 
      %strong
        = Rails.version
      \/ Ruby 
      %strong
        = RUBY_VERSION
