/ Fixed navbar
%div.navbar.navbar-default.navbar-fixed-top
  %div.container
    %div.navbar-header
      %button{type: 'button', class: 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
        %span.icon-bar

      = link_to t('.home'), home_path, class: 'navbar-brand'
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li
          = link_to t('.works'), works_path
    / /.nav-collapse
