/ Fixed navbar
%div.navbar.navbar-default.navbar-fixed-top{role: 'navigation'}
  %div.container
    %div.navbar-header
      %button.navbar-toggle{type: 'button', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
        %span.icon-bar

      = link_to home_path, class: 'navbar-brand' do
        %span.glyphicon.glyphicon-home
          = t('.home')
    %div.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to works_path do
            %span.glyphicon.glyphicon-briefcase
              = t('.works')
    / /.nav-collapse
